.u-mrgbottom-small{
    margin-bottom: 3rem;
}
.u-center-text {
    text-align: center;
    
}
.u-mrgbottom-8{
    margin-bottom: 8px;
    
}
.center-block{
  
padding:1rem  25%;
}
.margin--left{
    margin-left:-2rem;
}
.u-mrgtop-8{

    margin-top: 8px;

}