
$color-red:red;
$color-gray-light:#f7f7f7;
$color-green-light:#7fd567d2;
$color-green-dark:#55c57ad2;
$color-black:#000;
$color-grey:#777;
$color-green:green;
$color-white:white;
$color-grey-l:rgb(202, 195, 195);
$color-card-light:#ffb900;
$color-card-dark:#ff7730;
$color-card2-light:#2998ff;
$color-card2-dark:#5643fa;
$color-orangered:orangered;

//grid


$grid-width:114rem;
$gutter-horizontal:8rem;
$gutter-vertical:6rem;;